@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-ExtraLight.woff2') format('woff2'),
      url('/css/fonts/Manrope-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-Light.woff2') format('woff2'),
      url('/css/fonts/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-Bold.woff2') format('woff2'),
      url('/css/fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-ExtraBold.woff2') format('woff2'),
      url('/css/fonts/Manrope-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('/css/fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-Regular.woff2') format('woff2'),
      url('/css/fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/css/fonts/Manrope-Medium.woff2') format('woff2'),
      url('/css/fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb:  255, 255, 255;
  --background-end-rgb:  255, 255, 255;
  --manrope-font: 'Manrope';

  --check: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.30657 2.08629L10.3956 2.51529C10.784 2.66823 11.216 2.66823 11.6045 2.51529L12.6935 2.08629C13.3346 1.83416 14.0485 1.84059 14.6849 2.10423C15.3214 2.36788 15.8307 2.86817 16.1057 3.49979L16.5721 4.57229C16.7386 4.95505 17.044 5.26046 17.4268 5.42699L18.4993 5.89339C19.1312 6.16839 19.6317 6.6779 19.8953 7.3146C20.159 7.95129 20.1652 8.66547 19.9128 9.30669L19.4838 10.3957C19.3311 10.7838 19.3311 11.2154 19.4838 11.6035L19.9128 12.6925C20.1649 13.3336 20.1585 14.0475 19.8948 14.6839C19.6312 15.3204 19.1309 15.8297 18.4993 16.1047L17.4268 16.5711C17.044 16.7375 16.7385 17.043 16.5721 17.4258L16.1057 18.4983C15.8307 19.1302 15.3212 19.6307 14.6845 19.8943C14.0478 20.158 13.3336 20.1643 12.6924 19.9118L11.6034 19.4828C11.2152 19.3301 10.7837 19.3301 10.3956 19.4828L9.30657 19.9118C8.66548 20.1639 7.95157 20.1575 7.31513 19.8939C6.67869 19.6302 6.16936 19.1299 5.89437 18.4983L5.42797 17.4258C5.26144 17.043 4.95603 16.7376 4.57327 16.5711L3.50077 16.1047C2.86888 15.8297 2.36839 15.3202 2.10472 14.6835C1.84106 14.0468 1.8348 13.3326 2.08727 12.6914L2.51627 11.6024C2.66892 11.2143 2.66892 10.7827 2.51627 10.3946L2.08727 9.30559C1.83513 8.66451 1.84156 7.9506 2.10521 7.31415C2.36885 6.67771 2.86915 6.16839 3.50077 5.89339L4.57327 5.42699C4.95603 5.26046 5.26144 4.95505 5.42797 4.57229L5.89437 3.49979C6.16936 2.86791 6.67887 2.36741 7.31557 2.10375C7.95227 1.84008 8.66645 1.83382 9.30767 2.08629H9.30657ZM13.0961 3.10929L12.0071 3.53829C11.3599 3.79299 10.6402 3.79299 9.99297 3.53829L8.90397 3.10929C8.52797 2.9615 8.1093 2.96536 7.73609 3.12006C7.36288 3.27476 7.06425 3.56824 6.90307 3.93869L6.43667 5.01119C6.15911 5.64912 5.65009 6.15814 5.01217 6.43569L3.93967 6.90209C3.56914 7.06348 3.27572 7.36237 3.12121 7.73582C2.96671 8.10926 2.96318 8.5281 3.11137 8.90409L3.53927 9.99199C3.79397 10.6392 3.79397 11.3589 3.53927 12.0061L3.11027 13.0951C2.80337 13.8761 3.16967 14.7605 3.93967 15.096L5.01217 15.5624C5.65009 15.84 6.15911 16.349 6.43667 16.9869L6.90307 18.0594C7.06445 18.4299 7.36335 18.7233 7.73679 18.8779C8.11024 19.0324 8.52908 19.0359 8.90507 18.8877L9.99297 18.4587C10.6402 18.204 11.3599 18.204 12.0071 18.4587L13.0961 18.8877C13.8771 19.1957 14.7615 18.8294 15.097 18.0594L15.5634 16.9869C15.8409 16.349 16.3499 15.84 16.9879 15.5624L18.0604 15.096C18.4309 14.9346 18.7243 14.6357 18.8788 14.2623C19.0333 13.8888 19.0369 13.47 18.8887 13.094L18.4597 12.0061C18.205 11.3589 18.205 10.6392 18.4597 9.99199L18.8887 8.90299C19.0365 8.52713 19.0328 8.10857 18.8783 7.73538C18.7239 7.36219 18.4306 7.06347 18.0604 6.90209L16.9879 6.43569C16.3499 6.15814 15.8409 5.64912 15.5634 5.01119L15.097 3.93869C14.9356 3.56817 14.6367 3.27474 14.2632 3.12024C13.8898 2.96573 13.471 2.9622 13.095 3.11039L13.0961 3.10929ZM9.87637 12.9477L13.8892 8.43329C13.9807 8.33197 14.1067 8.26834 14.2426 8.25478C14.3785 8.24123 14.5146 8.27872 14.6244 8.35995C14.7342 8.44119 14.8098 8.56037 14.8366 8.69429C14.8633 8.82821 14.8393 8.9673 14.7692 9.08449L14.7109 9.16479L10.3109 14.1148C10.2221 14.2146 10.1 14.2787 9.96741 14.2951C9.83482 14.3115 9.7008 14.2791 9.59037 14.2039L9.51117 14.1379L7.31117 11.9379C7.21373 11.8409 7.15616 11.7109 7.1498 11.5735C7.14344 11.4362 7.18876 11.3014 7.27682 11.1959C7.36489 11.0903 7.48931 11.0215 7.62557 11.0031C7.76183 10.9847 7.90004 11.018 8.01297 11.0964L8.08887 11.1602L9.87637 12.9477Z' fill='white'/%3E%3C/svg%3E%0A");
  --delivery: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.1037 6.12172L19.9005 3.11391C19.8119 2.89016 19.6579 2.69832 19.4586 2.56342C19.2593 2.42852 19.024 2.35681 18.7834 2.35766H15.6406V1.5C15.6406 1.36325 15.5863 1.2321 15.4896 1.1354C15.3929 1.0387 15.2618 0.984375 15.125 0.984375H2.0625C1.74341 0.984375 1.43739 1.11113 1.21176 1.33676C0.986132 1.56239 0.859375 1.86841 0.859375 2.1875V11.8125C0.859375 12.1316 0.986132 12.4376 1.21176 12.6632C1.43739 12.8889 1.74341 13.0156 2.0625 13.0156H3.66094C3.77928 13.5984 4.09547 14.1224 4.55593 14.4988C5.01639 14.8751 5.5928 15.0807 6.1875 15.0807C6.7822 15.0807 7.35861 14.8751 7.81907 14.4988C8.27953 14.1224 8.59572 13.5984 8.71406 13.0156H13.2859C13.4043 13.5984 13.7205 14.1224 14.1809 14.4988C14.6414 14.8751 15.2178 15.0807 15.8125 15.0807C16.4072 15.0807 16.9836 14.8751 17.4441 14.4988C17.9045 14.1224 18.2207 13.5984 18.3391 13.0156H19.9375C20.2566 13.0156 20.5626 12.8889 20.7882 12.6632C21.0139 12.4376 21.1406 12.1316 21.1406 11.8125V6.3125C21.1405 6.24714 21.128 6.1824 21.1037 6.12172ZM15.6406 3.39062H18.7842C18.8186 3.39059 18.8523 3.4009 18.8808 3.4202C18.9093 3.43951 18.9313 3.46693 18.9441 3.49891L19.8636 5.79688H15.6406V3.39062ZM1.89062 2.1875C1.89062 2.14192 1.90873 2.0982 1.94097 2.06597C1.9732 2.03373 2.01692 2.01562 2.0625 2.01562H14.6094V7.85938H1.89062V2.1875ZM6.1875 14.0469C5.88156 14.0469 5.58248 13.9562 5.3281 13.7862C5.07372 13.6162 4.87545 13.3746 4.75837 13.092C4.64129 12.8093 4.61066 12.4983 4.67035 12.1982C4.73003 11.8982 4.87736 11.6225 5.09369 11.4062C5.31003 11.1899 5.58566 11.0425 5.88572 10.9828C6.18578 10.9232 6.49681 10.9538 6.77946 11.0709C7.06212 11.188 7.30371 11.3862 7.47368 11.6406C7.64365 11.895 7.73438 12.1941 7.73438 12.5C7.73438 12.9103 7.5714 13.3037 7.28131 13.5938C6.99121 13.8839 6.59776 14.0469 6.1875 14.0469ZM13.2859 11.9844H8.71406C8.59572 11.4016 8.27953 10.8776 7.81907 10.5012C7.35861 10.1249 6.7822 9.91929 6.1875 9.91929C5.5928 9.91929 5.01639 10.1249 4.55593 10.5012C4.09547 10.8776 3.77928 11.4016 3.66094 11.9844H2.0625C2.01692 11.9844 1.9732 11.9663 1.94097 11.934C1.90873 11.9018 1.89062 11.8581 1.89062 11.8125V8.89062H14.6094V10.2209C14.2725 10.3992 13.9792 10.6497 13.7504 10.9546C13.5216 11.2594 13.363 11.6111 13.2859 11.9844ZM15.8125 14.0469C15.5066 14.0469 15.2075 13.9562 14.9531 13.7862C14.6987 13.6162 14.5005 13.3746 14.3834 13.092C14.2663 12.8093 14.2357 12.4983 14.2953 12.1982C14.355 11.8982 14.5024 11.6225 14.7187 11.4062C14.935 11.1899 15.2107 11.0425 15.5107 10.9828C15.8108 10.9232 16.1218 10.9538 16.4045 11.0709C16.6871 11.188 16.9287 11.3862 17.0987 11.6406C17.2687 11.895 17.3594 12.1941 17.3594 12.5C17.3594 12.9103 17.1964 13.3037 16.9063 13.5938C16.6162 13.8839 16.2228 14.0469 15.8125 14.0469ZM20.1094 11.8125C20.1094 11.8581 20.0913 11.9018 20.059 11.934C20.0268 11.9663 19.9831 11.9844 19.9375 11.9844H18.3391C18.2194 11.4024 17.9028 10.8795 17.4426 10.5038C16.9823 10.1281 16.4066 9.92256 15.8125 9.92188C15.7549 9.92188 15.6973 9.92188 15.6406 9.92789V6.82812H20.1094V11.8125Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF;
  font-family: var(--manrope-font);
}

.check-icon {
  background-image: var(--check);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.delivery-icon {
  background-image: var(--delivery);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.text-format {
  line-height: 140%;
}


.product_image {
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: .3s; /* don't forget to set a duration! */
}